<!DOCTYPE html>
<html lang="en">
<head>
<title>Document</title>
</head>
<body>
<div>
<h1> <%= listTitle %> </h1>
</div>
<div >
<% newListItems.forEach(function(item){ %>
<form action="/" method="post">
<div class="item">
<input name="checkbox" value="<%= item._id %>"
type="checkbox"onChange="this.form.submit()">
<p><%= item.name %></p>
</div>
</form>
<% }) %>
<form class="item" action="/" method="post">
<input type="text" name="newItem" placeholder="New Item"
autocomplete="off">
<button type="submit" name="list">+</button>
</form>
</div>
</body>
</html>